<h1>create graph</h1>
<h2>使い方</h2>
<p>頂点の作成: 1回クリック, 辺の作成: 繋ぎたい頂点を1回ずつクリック, 頂点の削除: 2本指でクリック</p>

<div id='select_node'></div>
<%= link_to "詳細ページ（次数など）", "/points/detail", class: "detail" %>
<%= link_to "定形フレームワークと距離", "/points/side_distance", data: {"turbolinks" => false}, class: "side_distance" %>
<div id='cy'></div>


<script type="module">
	import { initializeGraph } from "graph/cytoscape";
	import { createPoint } from "graph/cytoscape";
	import { createLine } from "graph/cytoscape";
	import { deletePoint } from "graph/cytoscape";
	import { addNode } from "graph/cytoscape";
	import { addLine } from "graph/cytoscape";
	import { addElement } from "graph/click_node";
	import { changeElement } from "graph/click_node"

	document.addEventListener("DOMContentLoaded", function () {
    const initialData = {
      points: <%= raw @points.to_json %>,
      lines: <%= raw @lines.to_json %>
    };
	
	const cy = initializeGraph(initialData);

	let count_point = <%= @points.size %>;
	let count_line = <%= @lines.size %>;
	let nodes = [];


	cy.on('click', function( evt ){
		var tgt = evt.target;
		const x = evt.position.x
		const y = evt.position.y

		if (tgt === cy ) {
			nodes = [];
			count_point++;

			createPoint(x, y);
			addNode(cy, `Z${count_point}`, x, y);
		} else {
			cy.nodes().once('click', function( e ){
				var ele = e.target;
				nodes.push(ele.id());
				// クリックしたnodeが画面に表示される
				addElement(ele.id());
				console.log (nodes);

				if ( nodes.length == 2 ) {
					count_line++;
					let nodes_num = [];
					//クリックされたnodeを示していたところに、辺を作成！と表示する
					changeElement(nodes);
					//nodesの中のZをはずして、数字だけにする
					for (let i = 0; i < nodes.length; i++) {
						const node = nodes[i];
						const node_num_arry = node.match(/\d+/); 
						let [node_num] = node_num_arry;
						nodes_num.push(node_num);
					}
					console.log(nodes_num);

					createLine(nodes_num[0], nodes_num[1]);
					addLine(cy, count_line, nodes[0], nodes[1]);
					nodes=[];
					nodes_num = [];
				}
			});
		};
	});

	cy.on('cxttap', 'nodes', function( evt ){
		var tgt = evt.target;
		console.log(tgt);
		console.log(tgt.id());
		let tgt_id = tgt.id().match(/\d+/);
		console.log(tgt_id);

		if (tgt_id == null){
			console.log('null');
			} else {
			let [point_delete] = tgt_id;
			console.log(point_delete);

			deletePoint(point_delete);
			tgt.remove(evt);
			}
	});
	
});
</script>
