	<head>
		<title>cytoscape-automove.js demo</title>

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

		<!-- for testing with local version of cytoscape.js -->
		<!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->

		<%# <script src="cytoscape-automove.js"></script> %>

		<script type='module'>
		import { FetchRequest } from '@rails/request.js'

		let count_point = <%= @points.size %>;
		let count_line = <%= @lines.size %>;
		document.addEventListener('DOMContentLoaded', function(){
		var cy = window.cy =
			cytoscape({
				container: document.getElementById('cy'),

				elements: {
					nodes: [
						<% @points.each do |i| %>
						{
							data: { id: 'Z'+<%= i.id %>},
							position: { x: <%= i.x %>, y: <%= i.y %> }
						},
						<% end %>
					],
					edges: [
						// {
						// 	data: {  source: 'Z1', target: 'Z2' }
						// }
						<% @lines.each do |i| %>
						{
							data: { id: <%= i.id %>, source: '<%= i.source %>', target: '<%= i.target %>' }
						},
						<% end %>
					]
				},

				style: [
					{
						selector: 'node',
						style: {
							'label': 'data(id)',
							'color': '#008b8b'
						}
					},

					{
						selector: 'edge',
						style: {
							'label': 'data(id)',
							'color': '"008b8d',
							// 'target-arrow-shape': 'triangle', 	有効グラフになる
							'curve-style': 'bezier', //線を曲線にする
						}
					}
				],
				layout: {
					name: 'preset',
				}
			});

			var nodes = [];
			cy.on('click', function( evt ){
				var tgt = evt.target;
				const x = evt.position.x
				const y = evt.position.y

				// if( tgt === cy ){
				// 	fetch('/posits', {
				// 		method: 'POST',
				// 		headers: {
				// 			'Content-Type': 'application.json',
				// 			'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
				// 		},
				// 		body: JSON.stringify({ point: {x: x, y: y} })
				// 	}).then(response => response.json())
				// 	  .then(data => console.log('Point saved', data))
				// 	  .catch(error => console.error('Error:', error));
				if ( tgt === cy ) {
					nodes = [];
					count_point++;
					// cyをタップした場合は、ノードを追加
					
					async function createPoint() {
						const request = new FetchRequest('post', '/points', {
         					body: JSON.stringify({ point: { x: x, y: y } }),
          					contentType: 'application/json', // リクエストがJSONであることを指定
        			});


					const response = await request.perform()
					if (response.ok) {
						const body = await response.text
					}
				}
				createPoint();

				//点の作成
				cy.add({
					classes: 'automove-viewport',
					group: 'nodes',
					data: { id: 'Z' + count_point },
					position: {
						x: evt.position.x,
						y: evt.position.y
					}
				});
				} else {
					// ノードをタップした場合
				cy.nodes().once('click', function(e){
  					var ele = e.target;
					nodes.push(ele.id());
					console.log(nodes);
  					// console.log('clicked ' + ele.id());
					if ( nodes.length == 2 ) {
						count_line++;
						async function createLine() {
							const request = new FetchRequest('post', '/lines', {
								body: JSON.stringify({ line: {source: nodes[0], target: nodes[1] } }),
								contentType: 'application/json',
							});
							const response = await request.perform()
							if (response.ok) {
								const body = await response.text
							}
						}
						createLine();

						//線の作成
						cy.add({
							group: 'edges',
							data: { id: count_line, source: nodes[0], target: nodes[1] }
						});
						nodes = [];
					}
				});
				// var collection = cy.collection();
				// cy.nodes().on('click', function(e){
				// 	var clickedNode = e.target;

				// 	collection
				// });
				};
			});
		});
		
			// document.addEventListener('DOMContentLoaded', function(){

			// 	var cy = window.cy = cytoscape({
			// 		container: document.getElementById('cy'),

			// 		layout: {
			// 			name: 'preset'
			// 		},

			// 		style: [
			// 			{
			// 				selector: 'node',
			// 				style: {
			// 					'label': 'data(id)'
			// 				}
			// 			},

			// 			{
			// 				selector: '.mid',
			// 				style: {
			// 					'width': 8,
			// 					'height': 8,
			// 					'label': ''
			// 				}
			// 			}
			// 		],

			// 	});

			// 	cy.on('tap', function( evt ){
			// 		var tgt = evt.target || evt.cyTarget; // 3.x || 2.x
			// 		const x = evt.position.x
			// 		const y = evt.position.y

			// 		if( tgt === cy ){
			// 			cy.add({
			// 				classes: 'automove-viewport',
			// 				data: { id: 'Z' + Math.round( Math.random() * 100 ) },
			// 				position: {
			// 					x: evt.position.x,
			// 					y: evt.position.y
			// 				}
			// 			});
			// 		}

			// 		// 座標を送信
			// 		fetch('/points', {
			// 			method:'POST',
			// 			headers: {
			// 				'Content-Type': 'application/json',
			// 				'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
			// 			},
			// 			body: JSON.stringify({ point: {x: x, y: y} })
			// 		}).then(response => response.json())
			// 		  .then(data => console.log('Point saved', data))
			// 		  .catch(error => console.error('Error:', error));
			// 	});

			// 	// 点の削除（２本指タップ）
			// 	// cy.on('cxttap', 'node', function( evt ){
			// 	// 	var tgt = evt.target || evt.cyTarget; // 3.x || 2.x

			// 	// 	tgt.remove();
			// 	// });

			// });
		</script>
		
	</head>

	<body>
		<h1>cytoscape-automove demo</h1>
			<div id="cy"></div>
	</body>